.DS_Store
.idea
.vscode
back/logs/
back/.travis.yml
back/appveyor.yml
back/app/public/
back/run/
**/node_modules/
fronted/dist/
yarn.lock
.env.local
package-lock.json
.env.*.local
coverage/
*.log
*.sw*
*.un~
typings/
.nyc_output/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
